[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ShiftTracker1
Exec=/usr/bin/single-instance /opt/ShiftTracker1/bin/ShiftTracker1
Icon=/usr/share/icons/hicolor/80x80/apps/ShiftTracker180.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
