[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ShiftTracker1
Exec=/opt/ShiftTracker1/bin/ShiftTracker1
Icon=ShiftTracker164
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
